<img src='https://user-images.githubusercontent.com/6457691/90080969-0f758d00-dd47-11ea-8191-fa12fd2054a7.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 3 / SPRINT 1 / Assignment 4*

---
# N314. 신경망과 학습에 관련된 파라미터 튜닝 (HyperTune)



## 실전 연습과제

다음 통신사 고객 이탈(Churn) 데이터셋에서 정확도를 조정해보는 파라미터 학습을 진행해보겠습니다 : [다운로드](https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/telecom/TelcomCustomer.csv)

## 진행방식

- 데이터를 다운로드 받고 읽어옴(load)
- 데이터 클리닝을 진행 (필수는 아니지만 추천)
- Keras MLP model을 만들고, 학습 진행
- Hyperparameter 튜닝 진행:
 - batch_size
 - training epochs
 - optimizer
 - learning rate (optimizer에 따라서 해당되면)
 - momentum (optimizer에 따라서 해당되면)
 - activation functions
 - network weight initialization
 - dropout regularization
 - number of neurons in the hidden layer
 
하이퍼 파라미터의 초기 패스를 위해 그리드 검색 및 교차 검증을 사용할 수 있어야 합니다. 

실제 큰 통신회사의 데이터이기 때문에 최대한 정확하게 파악해 보십시오!

# 데이터 전처리

### 문항 1) 내 로컬 파일을 colab에 업로드하기

충분한 GPU를 가지고 있다면, 쉽게 문제를 해결할 수 있겠지만, 제한된 자원에서 충분한 GPU를 제공받지 못할 지 모릅니다. 이럴 때에는 딥러닝 커뮤니티에 물어볼 수도 있겠지만, 가성비 좋은 Colab의 GPU를 이용해서 실제 GPU사용량을 예측할 수 있다면 좋겠습니다. 모델 파라미터의 개수와 batch size 등이 GPU메모리에 큰 영향을 미치니 여러가지로 활용해보시기 바랍니다.

Colab의 GPU를 이용하기 위해서, 로컬로 진행하시던 분들도 이번에는 colab을 사용해봅시다. 

- 구글에서 colab의 라이브러리를 찾아서 업로드하세요. 
이후에 Pandas를 이용하여 데이터프레임으로 저장합니다.

colab을 사용하기위해서는 colab 라이브러리들을 잘 활용할 수 있으면 좋습니다. colab 기본형의 GPU의 사용제한 때문에 하지 못하는 일이 있다면, colab pro를 사용할 수 있습니다. 코드스테이츠에서 제공하는 colab pro 설치 가이드가 있지만, 스스로 문제를 해결해보시면 좋습니다. 그러나 도움이 필요하시면 HelpDesk에 문의해주시기 바랍니다.

### 로컬 파일을 업로드하는 코드를 입력하세요.

In [1]:
from google.colab import files

uploaded = files.upload()

Saving TelcomCustomer.csv to TelcomCustomer.csv

In [110]:
# 데이터 불러오기
import pandas as pd
df = pd.read_csv('TelcomCustomer.csv')

In [106]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

### 문항 2) 결측치가 있는지 isnull()함수를 이용하여 확인하고 결과값을 입력하시오.

In [92]:
df.isnull().sum().sum()

0

### 문항 3) dtypes를 이용해서 데이터 타입을 확인하고 아래 문제에 답하시오.

TotalCharges와 같이 중요한 값이 숫자로 되어있어야 합니다.  
object로 되어있는 것을 확인하고 숫자형으로 바꿔주세요. <br>
숫자형이 아닌 결측치의 개수는 몇개인가요? (결측치가 존재한다면 제거해주세요.)

In [111]:
# 숫자가 아닌 항목 찾아서 제거
blank = df['TotalCharges'][~df['TotalCharges'].str.contains('\d')]
df = df.drop(blank.index).reset_index(drop=True)

# 숫자형으로 바꾸기
df['TotalCharges'] = df['TotalCharges'].astype(float)

In [112]:
# customerID 드랍
df = df.drop(columns='customerID')

In [113]:
# 'No internet service' 로 표현되어 있는 것을 'No'로 변경
no_internet_feats = [ 'TechSupport','OnlineBackup', 'DeviceProtection','StreamingTV',
                 'OnlineSecurity','StreamingMovies']

for i in no_internet_feats:
    df[i] = df[i].replace({'No internet service':'No'})

# 'No phone service' 로 표현되어 있는 것을 'No'로 변경
df['MultipleLines']=df['MultipleLines'].replace({'No phone service':'No'})

# 0으로 표기된 것을 'No'로, 1로 표기된 것을 'Yes'로 변경
df['SeniorCitizen']=df['SeniorCitizen'].replace({0:'No',
                                                 1:'Yes'})

In [ ]:
!pip install category_encoders

In [114]:
df.head(3)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,No,Yes,No,1,No,No,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,No,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,Male,No,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes

In [115]:
# Ordinal Encoding
from category_encoders import OrdinalEncoder

encoder = OrdinalEncoder()
df_encoded = encoder.fit_transform(df)

In [116]:
df_encoded.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,29.85,29.85,1
1,2,1,2,1,34,2,1,1,2,2,2,1,1,1,2,2,2,56.95,1889.50,1
2,2,1,2,1,2,2,1,1,2,1,1,1,1,1,1,1,2,53.85,108.15,2
3,2,1,2,1,45,1,1,1,2,2,2,2,1,1,2,2,3,42.30,1840.75,1
4,1,1,2,1,2,2,1,2,1,2,1,1,1,1,1,1,1,70.70,151.65,2

In [117]:
# 타겟을 0과 1로 바꿔주기
df_encoded['Churn'] = df_encoded['Churn'].replace({1: 0, 2: 1})
df_encoded['Churn'].value_counts()

0    5163
1    1869
Name: Churn, dtype: int64

In [118]:
df_encoded.shape

(7032, 20)

### 문항 4) 훈련집합과 테스트 집합을 나누는 코드를 만들고, 해당 코드를 입력하시오.

- random_state=1
- test_size=0.25
- stratify=df_encoded['Churn']

In [119]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(df_encoded, random_state=1, test_size=0.25, stratify=df_encoded['Churn'])

In [120]:
train.shape, test.shape

((5274, 20), (1758, 20))

In [121]:
# features 와 target 을 분리
target = 'Churn'
features = df_encoded.drop(columns=[target]).columns

X_train = train[features]
X_test = test[features]

y_train = train[target]
y_test = test[target]

### 문항 5) sklearn.preprocessing.StandardScaler를 이용하여 정규화를 진행하시고, 문제를 보고 빈칸에 알맞은 단어를 넣으시오.

`X_train_scaled = scaler.##### Your Code Here #####`

In [123]:
# 정규화
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [127]:
X_train_scaled[0]

array([ 0.99508225, -0.43925252,  0.96350214, -0.65400354, -0.09779796,
        0.32541085,  1.16743446, -1.19019364,  1.59286639,  0.72650531,
       -0.72042294, -0.64249881, -0.79264136,  1.25707392, -0.83276144,
       -0.83448511, -0.27868378, -0.00881575, -0.17257846])

# 모델링

## 기본 모델

In [128]:
import numpy as np
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, Flatten
import keras
import tensorflow as tf
import IPython
from sklearn.model_selection import GridSearchCV

In [ ]:
!pip install scikeras
!pip install -U keras-tuner

from scikeras.wrappers import KerasClassifier
import keras_tuner as kt

### 문제 6. np.unique를 이용해서 y_train의 Class 의 개수를 확인하고 입력하시오.

In [131]:
np.unique(y_train)

array([0, 1])

In [132]:
# 간단한 모델 만들어서 성능을 보기 !
tf.random.set_seed(7)

model2 = Sequential()
model2.add(Dense(64, activation='relu'))
model2.add(Dense(64, activation='relu'))
model2.add(Dense(1, activation='sigmoid')) # ___분류이므로 노드수 1, 활성화 함수로는 시그모이드(sigmoid)

model2.compile(optimizer='adam', 
              loss='binary_crossentropy', 
              metrics=['accuracy'])

results = model2.fit(X_train_scaled, y_train, epochs=10, validation_data=(X_test_scaled,y_test))

Epoch 1/10
165/165 [==============================] - 7s 5ms/step - loss: 0.4588 - accuracy: 0.7696 - val_loss: 0.4496 - val_accuracy: 0.7901
Epoch 2/10
165/165 [==============================] - 1s 4ms/step - loss: 0.4153 - accuracy: 0.8009 - val_loss: 0.4473 - val_accuracy: 0.7952
Epoch 3/10
165/165 [==============================] - 1s 5ms/step - loss: 0.4061 - accuracy: 0.8072 - val_loss: 0.4495 - val_accuracy: 0.7964
Epoch 4/10
165/165 [==============================] - 1s 4ms/step - loss: 0.4017 - accuracy: 0.8111 - val_loss: 0.4468 - val_accuracy: 0.7969
Epoch 5/10
165/165 [==============================] - 1s 4ms/step - loss: 0.3963 - accuracy: 0.8146 - val_loss: 0.4542 - val_accuracy: 0.7844
Epoch 6/10
165/165 [==============================] - 1s 4ms/step - loss: 0.3941 - accuracy: 0.8201 - val_loss: 0.4536 - val_accuracy: 0.7878
Epoch 7/10
165/165 [==============================] - 1s 4ms/step - loss: 0.3891 - accuracy: 0.8159 - val_loss: 0.4515 - val_accuracy: 0.7952
Epoch 8/10
165/165 [==============================] - 1s 6ms/step - loss: 0.3876 - accuracy: 0.8155 - val_loss: 0.4532 - val_accuracy: 0.7890
Epoch 9/10
165/165 [==============================] - 1s 6ms/step - loss: 0.3826 - accuracy: 0.8214 - val_loss: 0.4563 - val_accuracy: 0.7850
Epoch 10/10
165/165 [==============================] - 1s 6ms/step - loss: 0.3790 - accuracy: 0.8235 - val_loss: 0.4686 - val_accuracy: 0.7850

In [133]:
# 테스트셋 사용해서 결과 보기
model2.evaluate(X_test_scaled,  y_test, verbose=2)

55/55 - 0s - loss: 0.4686 - accuracy: 0.7850 - 110ms/epoch - 2ms/step

[0.4686291515827179, 0.7849829196929932]

파라미터 튜닝을 하기전에 간단히 임의로 넣어본 결과도 꽤 좋습니다. 이젠 GridSearchCV 를 사용해서 튜닝을 해보겠습니다.

## GridSearchCV 사용

In [134]:
# 모델 만들기
tf.random.set_seed(7)

def model_builder(nodes=16, activation='relu'):

  model = Sequential()
  model.add(Dense(nodes, input_dim=19, activation=activation))
  model.add(Dense(nodes, input_dim=19, activation=activation))
  model.add(Dense(1, activation='sigmoid')) # 이진분류니까 노드수 1, 활성함수로는 시그모이드

  model.compile(optimizer='adam', 
                loss='binary_crossentropy', 
                metrics=['accuracy'])

  return model

# keras.wrapper를 활용하여 분류기를 만듭니다
model = KerasClassifier(model=model_builder, batch_size=8, verbose=0)

# GridSearch
batch_size=[64, 128, 256]
epochs=[10, 20, 30]
nodes=[64, 128, 256]
activation=['sigmoid']
param_grid=dict(batch_size=batch_size, epochs=epochs, model__nodes=nodes, model__activation=activation)


# GridSearch CV를 만들기
grid = GridSearchCV(estimator=model, param_grid=param_grid, cv=3, verbose=1, n_jobs=-1)
grid_result = grid.fit(X_train_scaled, y_train)

Fitting 3 folds for each of 27 candidates, totalling 81 fits

/usr/local/lib/python3.9/dist-packages/joblib/externals/loky/process_executor.py:700: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  warnings.warn(

In [137]:
# 최적의 결과값을 낸 파라미터를 출력합니다
print(f"Best: {grid_result.best_score_} using {grid_result.best_params_}")
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print(f"Means: {mean}, Stdev: {stdev} with: {param}")

Best: 0.8064087978763747 using {'batch_size': 64, 'epochs': 20, 'model__activation': 'sigmoid', 'model__nodes': 256}
Means: 0.8012893439514599, Stdev: 0.0039500695214257885 with: {'batch_size': 64, 'epochs': 10, 'model__activation': 'sigmoid', 'model__nodes': 64}
Means: 0.7999620781190747, Stdev: 0.0010725927663049627 with: {'batch_size': 64, 'epochs': 10, 'model__activation': 'sigmoid', 'model__nodes': 128}
Means: 0.7904816078877511, Stdev: 0.007790154942803971 with: {'batch_size': 64, 'epochs': 10, 'model__activation': 'sigmoid', 'model__nodes': 256}
Means: 0.8018581721653394, Stdev: 0.005917514802551088 with: {'batch_size': 64, 'epochs': 20, 'model__activation': 'sigmoid', 'model__nodes': 64}
Means: 0.7992036405005689, Stdev: 0.0025859275117531017 with: {'batch_size': 64, 'epochs': 20, 'model__activation': 'sigmoid', 'model__nodes': 128}
Means: 0.8064087978763747, Stdev: 0.0035167305633279234 with: {'batch_size': 64, 'epochs': 20, 'model__activation': 'sigmoid', 'model__nodes': 256}
Means: 0.8014789533560865, Stdev: 0.004256720576534646 with: {'batch_size': 64, 'epochs': 30, 'model__activation': 'sigmoid', 'model__nodes': 64}
Means: 0.8037542662116041, Stdev: 0.009148530968384359 with: {'batch_size': 64, 'epochs': 30, 'model__activation': 'sigmoid', 'model__nodes': 128}
Means: 0.8043230944254836, Stdev: 0.003715570334142138 with: {'batch_size': 64, 'epochs': 30, 'model__activation': 'sigmoid', 'model__nodes': 256}
Means: 0.7959802806219188, Stdev: 0.004834110270755387 with: {'batch_size': 128, 'epochs': 10, 'model__activation': 'sigmoid', 'model__nodes': 64}
Means: 0.8003412969283277, Stdev: 0.0016745849196677794 with: {'batch_size': 128, 'epochs': 10, 'model__activation': 'sigmoid', 'model__nodes': 128}
Means: 0.79806598407281, Stdev: 0.00870139848735973 with: {'batch_size': 128, 'epochs': 10, 'model__activation': 'sigmoid', 'model__nodes': 256}
Means: 0.7995828593098219, Stdev: 0.0031614205537605663 with: {'batch_size': 128, 'epochs': 20, 'model__activation': 'sigmoid', 'model__nodes': 64}
Means: 0.7999620781190747, Stdev: 0.00573235360554833 with: {'batch_size': 128, 'epochs': 20, 'model__activation': 'sigmoid', 'model__nodes': 128}
Means: 0.8060295790671218, Stdev: 0.005234043891483602 with: {'batch_size': 128, 'epochs': 20, 'model__activation': 'sigmoid', 'model__nodes': 256}
Means: 0.804133485020857, Stdev: 0.0030924358040008066 with: {'batch_size': 128, 'epochs': 30, 'model__activation': 'sigmoid', 'model__nodes': 64}
Means: 0.8062191884717481, Stdev: 0.004315436737482354 with: {'batch_size': 128, 'epochs': 30, 'model__activation': 'sigmoid', 'model__nodes': 128}
Means: 0.8026166097838453, Stdev: 0.004430535246700048 with: {'batch_size': 128, 'epochs': 30, 'model__activation': 'sigmoid', 'model__nodes': 256}
Means: 0.7906712172923777, Stdev: 0.009697923285964685 with: {'batch_size': 256, 'epochs': 10, 'model__activation': 'sigmoid', 'model__nodes': 64}
Means: 0.7866894197952218, Stdev: 0.006935662176022703 with: {'batch_size': 256, 'epochs': 10, 'model__activation': 'sigmoid', 'model__nodes': 128}
Means: 0.8001516875237012, Stdev: 0.00538303737830048 with: {'batch_size': 256, 'epochs': 10, 'model__activation': 'sigmoid', 'model__nodes': 256}
Means: 0.7995828593098219, Stdev: 0.0033598872102141757 with: {'batch_size': 256, 'epochs': 20, 'model__activation': 'sigmoid', 'model__nodes': 64}
Means: 0.8009101251422072, Stdev: 0.003715570334142093 with: {'batch_size': 256, 'epochs': 20, 'model__activation': 'sigmoid', 'model__nodes': 128}
Means: 0.8050815320439894, Stdev: 0.005599098619732034 with: {'batch_size': 256, 'epochs': 20, 'model__activation': 'sigmoid', 'model__nodes': 256}
Means: 0.8037542662116041, Stdev: 0.0029004661624532765 with: {'batch_size': 256, 'epochs': 30, 'model__activation': 'sigmoid', 'model__nodes': 64}
Means: 0.801668562760713, Stdev: 0.002557970717336351 with: {'batch_size': 256, 'epochs': 30, 'model__activation': 'sigmoid', 'model__nodes': 128}
Means: 0.8043230944254836, Stdev: 0.004848961642982354 with: {'batch_size': 256, 'epochs': 30, 'model__activation': 'sigmoid', 'model__nodes': 256}

### 문항 7) 최적의 결과를 낸 파라미터와 결과값을 입력해주세요.

- batch_size
- epochs
- nodes
- activation

- 정답은 `[100, 100, 100], activation_name` 형태로 입력해주세요.
- **(64, 20, 256), 'sigmoid'**

다음으로 Keras Tuner 를 사용한 파라미터 튜닝도 해보겠습니다.

## Keras Tuner 사용

In [138]:
# 모델 만들기

def model_builder(hp):

  model = Sequential()

  # Dense layer에서 노드 수를 조정(32-512)
  hp_units = hp.Int('units', min_value = 32, max_value = 512, step = 32)

  model.add(Dense(units = hp_units, activation='relu'))
  model.add(Dense(units = hp_units, activation='relu'))

  model.add(Dense(1, activation='sigmoid')) # 이진분류니까 노드수 1, 활성함수로는 시그모이드

  # Optimizer의 학습률(learning rate)을 조정[0.01, 0.001, 0.0001]합니다. 
  hp_learning_rate = hp.Choice('learning_rate', values = [1e-2, 1e-3, 1e-4])

  # 컴파일 단계, 옵티마이저와 손실함수, 측정지표를 연결해서 계산 그래프를 구성함
  model.compile(optimizer=keras.optimizers.Adam(learning_rate = hp_learning_rate), 
                loss=keras.losses.BinaryCrossentropy(), 
                metrics=['accuracy'])

  return model

In [139]:
# 튜너를 인스턴스화하고 하이퍼 튜닝을 수행

tuner = kt.Hyperband(model_builder,
                     objective = 'val_accuracy', 
                     max_epochs = 30, 
                     factor = 3,
                     directory = 'my_dir',
                     project_name = 'intro_to_kt')

In [140]:
# callback 정의 : 하이퍼 파라미터 검색을 실행하기 전에 모든 교육 단계가 끝날 때마다 교육 출력을 지우도록 콜백을 정의합니다.

class ClearTrainingOutput(tf.keras.callbacks.Callback):
  def on_train_end(*args, **kwargs):
    IPython.display.clear_output(wait = True)

In [141]:
tuner.search(X_train_scaled, y_train, epochs = 30, batch_size=50, validation_data = (X_test_scaled,y_test), callbacks = [ClearTrainingOutput()])

best_hps = tuner.get_best_hyperparameters(num_trials = 1)[0]

print(f"""
최적화된 Dense 노드 수 : {best_hps.get('units')} 
최적화된 Learning Rate : {best_hps.get('learning_rate')} 
""")

Trial 57 Complete [00h 00m 03s]
val_accuracy: 0.7986348271369934

Best val_accuracy So Far: 0.8048919439315796
Total elapsed time: 00h 02m 53s

최적화된 Dense 노드 수 : 416
최적화된 Learning Rate : 0.001

### 문항 8) Keras 튜너를 활용하여 얻어낸 파라미터를 입력하시오. 

- 정답은 `[100, 100]` 형태로 입력하시오.
- **[416, 0.001]**

In [142]:
from tensorflow.keras import regularizers

tf.random.set_seed(1442)
initializer = tf.keras.initializers.HeNormal()

model = Sequential()

model.add(Dense(best_hps.get('units'), 
                activation='relu', kernel_initializer=initializer,          
                kernel_regularizer=regularizers.l2(0.01),    # L2 norm regularization
                activity_regularizer=regularizers.l1(0.01))) # L1 norm regularization))
model.add(Dense(best_hps.get('units'),
                activation='relu', kernel_initializer=initializer,            
                kernel_regularizer=regularizers.l2(0.01),    # L2 norm regularization
                activity_regularizer=regularizers.l1(0.01)))
model.add(Dense(1, activation='sigmoid')) # 이진분류니까 노드수 1, 활성함수로는 시그모이드

model.compile(optimizer=keras.optimizers.Adam(learning_rate = best_hps.get('learning_rate')), 
              loss='binary_crossentropy', 
              metrics=['accuracy'])

results = model.fit(X_train_scaled, y_train, epochs=2, batch_size=50, validation_data=(X_test_scaled,y_test))

Epoch 1/2

/usr/local/lib/python3.9/dist-packages/keras/initializers/initializers.py:120: UserWarning: The initializer HeNormal is unseeded and being called multiple times, which will return identical values each time (even if the initializer is unseeded). Please update your code to provide a seed to the initializer, or avoid using the same initalizer instance more than once.
  warnings.warn(

106/106 [==============================] - 1s 7ms/step - loss: 13.3305 - accuracy: 0.7880 - val_loss: 8.3451 - val_accuracy: 0.7941
Epoch 2/2
106/106 [==============================] - 0s 4ms/step - loss: 6.1200 - accuracy: 0.7988 - val_loss: 4.4650 - val_accuracy: 0.7941

In [143]:
# 테스트셋 사용해서 결과 보기
model.evaluate(X_test_scaled,  y_test, verbose=2)

55/55 - 0s - loss: 4.4650 - accuracy: 0.7941 - 135ms/epoch - 2ms/step

[4.465016841888428, 0.7940841913223267]